<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>「千古史话」</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <div class="header section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-2 col-md-3">
          </div>
        </div>
      </div>
    </div>
    <div class="body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-7 col-xs-offset-1 col-xs-7 col-md-offset-1 col-md-7 col-lg-offset-1 col-lg-7">
            <div class="section">
              <ul class="list-group">
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <div class="section">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer section navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-2 col-md-3">

          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
  </body>
</html>
