<ul class="nav nav-pills pull-right">
  <li role="presentation" class="active"><a href="/">首页</a></li>
  <li role="presentation"><a href="/user">个人中心</a></li>
  <% if(!user_id) {%>
  <li role="presentation"><a href="/login">登录</a></li>
  <li role="presentation"><a href="/register">注册</a></li>
  <% } %>
</ul>
