<ul class="list-group">
  <li class="list-group-item">
    <span>今日热议主题</span>
  </li>
  <% for(var i=0; i<topics.length; i++){ %>
    <li class="list-group-item">
      <div class="topic">
        <div class="">
          <img src="/images/1.jpg" width="30" height="30" alt="">
        </div>
        <div class="topic-summary">
          <p>
            <a href="<%= '/topic/' + topics[i].id %>">
              <%= topics[i].title %>
            </a>
          </p>
        </div>
      </div>
    </li>
  <% } %>
</ul>
