<ul class="list-group">
  <li class="list-group-item">
    <span>新增节点</span>
  </li>
  <li class="list-group-item">
    <div class="list-node">
      <a href="">北京</a>
      <a href="">上海</a>
      <a href="">南京</a>
      <a href="">杭州</a>
      <a href="">齐齐哈尔</a>
      <a href="">哈尔滨</a>
    </div>
  </li>
</ul>
