<ul class="list-group">
  <li class="list-group-item">
    <span>新增节点</span>
  </li>
  <li class="list-group-item">
    <div class="list-node">
      <% for(var i=0; i<nodes.length; i++){ %>
        <a href="#"><%= nodes[i].name %></a>
      <% } %>
    </div>
  </li>
</ul>
