<ul class="list-group">
  <li class="list-group-item">
    <span>社区运行状况</span>
  </li>
  <li class="list-group-item">
    <p>会员 &nbsp<a href=""><%= userCount %></a></p>
    <p>主题 &nbsp<a href=""><%= topicsCount %></a></p>
    <p>回复 &nbsp<a href=""><%= commentCount %></a></p>
  </li>
</ul>
