<% if(user !== {}){ %>
<ul class="list-group">
  <li class="list-group-item">
    <div class="user">
      <div class="user-logo">
        <img src="/images/1.jpg" width="50" height="50" alt="">
      </div>
      <div class="user-name">
        <%= user.username %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="new-topic">
      <span class="glyphicon glyphicon-pencil"></span> &nbsp <a href="/publish">创作新主题</a>
    </div>
  </li>
  <li class="list-group-item">
    <div class="new-message">
      <span class="glyphicon glyphicon-envelope"></span> &nbsp 未读来信
    </div>
  </li>
  <li class="list-group-item">
    <div class="user-money">
      <span class="glyphicon glyphicon-usd"></span> &nbsp 金币：
      <%= user.money %>
    </div>
  </li>
  <li class="list-group-item">
    <div class="user-money">
      <span class="glyphicon glyphicon-phone"></span> &nbsp
      <a href="/sign">签到</a>
    </div>
  </li>
</ul>
<% } else { %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="user">
        <div class="user-name">
          技术就是力量
        </div>
      </div>
    </li>
  </ul>
<% } %>
